body{
    margin: 0px;
}
#principal{
background-image: url(png/fondo.png);
background-repeat: no-repeat;
background-position: center center;
height: 1800px;
background-attachment: fixed;
background-size: cover;

}
.container{
    width:85%;
    max-width: 850px;
    margin: 0 auto;
  

}
.header {
    background:rgba(48, 48, 243, 0.616);
     color:white;
     padding: 0.5rem 0;

     position:fixed;
     left:0;
     top:0;
     right:0;
}

.header a{
    color: white;
    text-decoration: none;

}
.logo-nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.logo{
    letter-spacing: 10px;
    font-size: 1.3em;
}
.navigation ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    
    display: block;
    padding:0.5rem 1rem;
    transition:  all 0.4s linear;
    border-radius: 5px;
   
    }

 .navigation  ul li a:hover{
    background: orangered;
 } 
 .submenu{
    position: absolute;
    background:blue;
    width: 120px;
    display: none;
 }
 .submenu li a{
    display:inline-block;
    padding: 15px;
    color:white;
    font-family: 'Open sans';
    text-decoration: none;
 }
 .navigation li:hover .submenu{
    display:block;

 }
 h1{
    color: red;
 }

 p{
    color: red;
    background-size: 10px;
 }
